$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 28px !default;
$hamburger-layer-color         : white !default;
$hamburger-layer-border-radius : 3px !default;
$hamburger-hover-opacity       : 1 !default;

$dark-blue: #385a8d;
$input-border: 1px solid #a4a4a4;

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-image: linear-gradient(141deg, #e6eaff, #f1f1f1, #f1f1ff);
  margin: 0;
  min-height: 100vh;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  text-align: center;
}

.hidden {
  display: none !important;
}

.container {
  min-height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

header.page-load-transition > *,
.page-load-transition.projects *,
.page-load-transition.project * {
  animation: emerge 2s forwards;
}

.page-load-hidden * {
  visibility: hidden;
}


header {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: $dark-blue;
  background-image: linear-gradient(155deg, #02316de0, #4d87b5e6),
                    url(../background2.jpg);
  background-size: contain;

  button {
    height: 36px;
    background: none;
    color: white;
    transition: transform 0.3s !important;

    &:hover {
      transform: scale(1.1);
    }

    .material-icons {
      font-size: 38px;
    }

  }
  .hamburger {
    height: auto;
    position: relative;
    top: 6px;
  }

}

// projects sidebar

.projects {
  grid-column: 1 / 2;
  position: relative;
  width: 0;
  max-width: 300px;
  padding: 25px 0 0 0;
  box-shadow: 2px 3px 9px 0px #d0d0d0;
  transition: 1s;
  background-image: linear-gradient(141deg, #ffffffd6, #c5d6ff91),
                    url(../background2.jpg);       
  background-size: cover;
  background-color: #e6ebff;

  // avoid translateX on .projects directly because white briefly gets shown behind background color
  & > * {
    transform: translateX(-22vw);
    transition: 1.2s;
  }
}

.active {
  width: 25vw;
  padding: 25px 25px 0 25px;

  & > * {
    transform: translateX(0);
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    display: flex;
    align-items: center;
  }
}

.project-list {
  margin: 0;
  padding: 15px 0 5px 10px;

  li {
    list-style-type: none;
    margin: 10px;
    font-size: 17px;
    border-bottom: 1px #a5a5a8 dotted;
    padding-bottom: 10px;

    &:hover {
      color: #994aca;
      cursor: pointer;
    }
  }

  .current-project {
    color: #3b6699;
    text-shadow: 4px 2px 3px #45c0ff33;

    &:hover {
      text-shadow: none;
    }
  }
}

// project view

.project {
  grid-column: 2/ 3;
  margin: 0;
  padding: 25px 70px;
  min-width: 550px;
  background-image: linear-gradient(45deg, #fdfbffdb, #e4fdffab, #bad8ffb0),
                    url('../background1.jpg');
  background-size: cover;

  h4 {
    font-size: 17px;
    padding: 10px 0;
  }
}

.project > * {
  max-width: 900px;
  margin: auto;
  animation: emerge 0.3s forwards;
}

.project-no-animation > * {
  animation: none !important;
}

.edit-project-button {
  margin: 0 10px;
}

.hidden-project > * {
  pointer-events: none;
  animation: disappear 0.2s forwards;
}

// buttons

button {
  height: 30px;
  border: none;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    transform: scale(1.3);
    cursor: pointer;
  }

  & > * {
    pointer-events: none;
  }

  .material-icons {
    font-size: 28px;
  }
}

td button:hover {
  transform: none;
}

input[type='submit'],
.text-button {
  height: 30px;
  border: none;
  background-color: #9dbff1;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
    color: white;
    transform: none;
  }
}

input[type='submit']:disabled {
  cursor: default;
  color: #1010104d;

  &:hover {
    color: #1010104d;
    background-color: #9dbff1;
  }
}

// forms and inputs

form h1 {
  margin: 15px 0;
  width: 400px;
  font-size: 25px;
}

.random-todo-mode {
  pointer-events: all;
}

.random-todo-mode h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 36px;
  border: $input-border;
  padding-left: 5px;
  font-size: 16px;
}

.form-line {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  div {
    display: flex;
    align-items: center;
  }

  button,
  input[type='submit'] {
    width: 40%;
  }
  
  input[type='submit'] {
    margin-left: 10px;
  }

  & > select {
    width: 130px;
  }

  input[type='checkbox'] {
    height: 100%;
    margin: 0 9px;
    transform: scale(1.3);
  }
}

label {
  height: 36px;
  line-height: 25px;
  border: 1px solid #a4a4a4;
  border-right: none;
  padding: 5px;
  background-color: white;
  font-size: 16px;

  + * {
    border-left: 1px dashed gray !important;
  }
}

textarea {
  height: 90px;
  resize: none;
  display: block;
  width: 300px;
  font-size: 16px;
  padding: 5px;
}

select {
  height: 36px;
  padding: 5px;
  font-size: 14px;
}

select,
textarea {
  border: $input-border;
}

input[type='date'] {
  font-size: 14px;
}

input:focus,
textarea:focus {
  background-color: #cae7f0c9;
}

// table

table, th, td {
  border-collapse: collapse;
}

.todo-table {
  width: 100%;

  .low {
    background-color: lightblue;
  }

  .medium {
    background-color: lightgreen;
  }

  .high {
    background-color: lightcoral;
  }

  .complete {
    background-color: lightgray;
    text-decoration: line-through;
  }
}

th, td {
  border: 1px solid #edededba;
  padding: 15px;
  min-width: 20px;
  text-align: center;

  button {
    background-color: #9a969624;
    padding: 5px 10px;
    border-radius: 50%;
    height: auto;
    
    &:hover {
      color: white;
      background-color: #706e6e52;
    }

    .material-icons {
      position: relative;
      top: 2px;
    }
  }
}

th {
  background-color: #a183ff78;
  font-weight: 600;
  font-size: 18px;

  * {
    pointer-events: none;
  }
}

th:hover {
  cursor: pointer;
  color: white;
}

tr {
  background-color: #f5faff;
}

td:first-child {
  text-align: left;
}

// pop up

.pop-up {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: none;
  height: 100vh;
  padding: 35vh 25vw 35vh 33vw;
  background-color: rgba(168, 166, 166, 0.432);
  animation: emerge 0.8s forwards !important;

  &::after {
    content: "";
    display: block;
    width: 500px;
    height: 300px;
    position: relative;
    top: -262px;
    right: 46px;
    z-index: -1;
    background-color: #d7d7ff;
    background-image: linear-gradient(141deg, #d7d7ff96, #c5d6ff91),
                      url(../background2.jpg);
    background-size: cover;
  }
}

.new-todo-form.pop-up::after {
  height: 327px;
  top: -297px;
}

.random-todo-mode.pop-up::after {
  height: 339px;
  top: -300px;
}

@keyframes emerge {
  from{
      opacity: 0;
  }

  to{
      opacity: 1;
  }
}

@keyframes disappear {
  from{
      opacity: 1;
  }

  to{
      opacity: 0;
  }
}